<ion-header [translucent]="true">
  <ion-toolbar>
      <div class="header">
        <div class="ion-text-start">
          <ion-title>Game Deals</ion-title>
          <ion-title>CRYSTAL CLEAR SAVINGS</ion-title>
        </div>
        <div  >
          <ion-avatar>
            <ion-icon size="large" name="person" />
          </ion-avatar>
        </div>
      </div>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  @if((gameDeal$ | async); as gameDeal){
    <ion-card-title>Favorite Game Deal</ion-card-title>
    <app-game-deal-card
      [gameDeal]="gameDeal"
    />
  } @else {
    <ion-text>There aren't any favorite game selected</ion-text>
  }

</ion-content>
