<ion-header [translucent]="true">
  <ion-toolbar>
      <div class="header">
        <div class="ion-text-start">
          <ion-title>Game Deals</ion-title>
          <ion-title>CRYSTAL CLEAR SAVINGS</ion-title>
        </div>
        <div  >
          <ion-avatar>
            <ion-icon size="large" name="person" />
          </ion-avatar>
        </div>
      </div>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  @if(loading){
    @if((gameDeal$ | async); as gameDeal){
      <ion-card-title>Favorite Game Deal</ion-card-title>

      <app-game-deal-card [gameDeal]="gameDeal"></app-game-deal-card>

      @if((game$ | async ); as game){
        <ion-title> Game Complete Info </ion-title>
        <ion-grid>
          <ion-row>
            <ion-col><ion-label>Cheapest price Ever</ion-label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-label>Price</ion-label></ion-col>
            <ion-col><ion-label>${{ game.cheapestPriceEver.price }}</ion-label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><ion-label>Date</ion-label></ion-col>
            <ion-col><ion-label>{{ game.cheapestPriceEver.date | date: 'short' }}</ion-label></ion-col>
          </ion-row>

          @if(game.deals.length > 0){
            <ion-row>
              <ion-col>
                <ion-title>Available Deals </ion-title>
              </ion-col>
            </ion-row>

            @for(deal of game.deals; track $index){
              <ion-row>
                <ion-col>
                  <ion-card class="glass-card">
                    <ion-card-content>
                      <ion-grid>
                        <ion-row>
                          <ion-col>{{ deal.price }}</ion-col>
                          <ion-avatar>
                            <img [src]="deal.store?.images?.logo" alt="">
                          </ion-avatar>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            {{ deal.retailPrice }}
                          </ion-col>
                          <ion-col>
                            {{ showSavingPercent(deal.savings)}}%
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <ion-button expand="block" (click)="openBrowser(deal.dealId)">
                              view deal on detail
                              <ion-icon slot="end" name="open-outline"></ion-icon>
                            </ion-button>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            }
          }
        </ion-grid>
      }
    } @else {
      <app-no-favorite-state>

      </app-no-favorite-state>
      <!-- <ion-text>There aren't any favorite game selected</ion-text> -->
    }
  } @else {
    <app-game-deal-card-skeleton></app-game-deal-card-skeleton>
  }

</ion-content>
