.header {
  display: flex;
  margin: 10px 0;
  align-content: center;
  justify-content: space-between;
}


ion-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: blue;
}

ion-icon {
  color: #fff;
}
