.header {
  display: flex;
  margin: 10px 0;
  align-content: center;
  justify-content: space-between;
}


ion-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: blue;
}

ion-icon {
  color: #fff;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;

  /* Añadir el efecto a la toolbar */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  /* Opcional: añadir un borde inferior */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

ion-card.glass-card {
  --background: transparent;
}

ion-content {
  --background: transparent;
}
