
  <div class="detail-modal">
      <div class="detail-header-modal">
        <ion-thumbnail>
          <img [src]="deal.thumb" alt="">
        </ion-thumbnail>
        <ion-icon
          (click)="closeModal()"
          name="close-circle">
        </ion-icon>
      </div>
      <ion-card class="glass-card">
        <ion-card-header>
          <ion-grid fixed="true">
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col size="10">
                <ion-card-title>{{ deal.title }}</ion-card-title>
              </ion-col>
              <ion-col size="2">
                <ion-avatar>
                  <img [src]="deal.store?.images?.logo">
                </ion-avatar>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-justify-content-between">
              <ion-card class="metric-card">
                <ion-col size="8" class="ion-text-center">
                  <ion-icon class="star-icon" name="star" size="medium"></ion-icon>
                  <br>
                  <ion-label>{{ deal.dealRating }}%</ion-label>
                  <br>
                  <ion-label>Deal Rating</ion-label>
                </ion-col>
              </ion-card>
              <ion-card class="metric-card">
                <ion-col size="8" class="ion-text-center">
                  <ion-icon class="game-controller-icon" name="game-controller"></ion-icon>
                  <br>
                  <ion-label>
                    {{ deal.metacriticScore }}
                  </ion-label>
                  <br>
                  <ion-label>
                    Metacritic
                  </ion-label>
                </ion-col>
              </ion-card>
            </ion-row>
            <ion-row>
              <ion-card class="pricing-card">
                <ion-col>
                  <div class="price">
                    <ion-card-title>{{ deal.salePrice }}</ion-card-title>
                    <ion-card-subtitle>{{ deal.normalPrice }}</ion-card-subtitle>
                  </div>
                  <ion-label>You save {{ deal.savings }} ({{ showSavingPercent(deal.savings)}}%)</ion-label>
                </ion-col>
              </ion-card>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button type="button" (click)="openSite()">
                  view deal
                  <ion-icon slot="end" name="open-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
  </div>
