<ion-header [translucent]="true">
  <ion-toolbar>
      <div class="header">
        <div class="ion-text-start">
          <ion-title>Game Deals</ion-title>
          <ion-title>CRYSTAL CLEAR SAVINGS</ion-title>
        </div>
        <div  >
          <ion-avatar>
            <ion-icon size="large" name="person" />
          </ion-avatar>
        </div>
      </div>

      <ion-searchbar
        placeholder="Search for game"
        (ionInput)="onSearch($event)"
        debounce="0"
      />
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    @if(this.searchedDeals.length > 0 || loadingSearch){

      @if(loadingSearch){
        <ion-list class="ion-padding" style="background: transparent;">
          @for (_ of '1290293'; track $index) {
              <app-game-deal-card-skeleton />
          }
        </ion-list>
      } @else if(searchedDeals.length > 0) {
        <ion-card-title> Searched Game Deals  </ion-card-title>
        <app-game-deal-list
            (onDealDetail)="openDealDetail($event)"
            [gameDeals]="this.searchedDeals"
            [modeHorizontal]="false"
          />
      } @else {
        <ion-title>no hay busqueda disponible</ion-title>
      }
    } @else {

      @if(loading){
        <ion-list-header>
          <ion-title>Hot Top Deals</ion-title>
        </ion-list-header>
        <div class="h-scroll-wrapper">
          @for(_ of '12234'; track $index){
            <div class="h-card-wrapper">
              <app-game-deal-card-skeleton>
              </app-game-deal-card-skeleton>
            </div>
          }
        </div>
      } @else if(this.top5GameDeals.length > 0) {
          <app-game-deal-list
            (onDealDetail)="openDealDetail($event)"
            [gameDeals]="this.top5GameDeals"
            [modeHorizontal]="true"
          />
      }

      @if (loading) {
          <ion-list-header>
            <ion-title>
              Available Deals
            </ion-title>
          </ion-list-header>
          <ion-list class="ion-padding" style="background: transparent;">
            @for (_ of '1290293'; track $index) {
                <app-game-deal-card-skeleton />
            }
          </ion-list>
      } @else if(hasError) {
        <app-no-content-state></app-no-content-state>
      } @else if(this.gameDeals.length === 0){
        <app-no-content-state></app-no-content-state>

      } @else {
          <app-game-deal-list
            (onDealDetail)="openDealDetail($event)"
            [gameDeals]="this.gameDeals"
            [modeHorizontal]="false"
          />
        }
      }
</ion-content>
