<ion-header [translucent]="true">
  <ion-toolbar>
      <div class="header">
        <div class="ion-text-start">
          <ion-title>Game Deals</ion-title>
          <ion-title>CRYSTAL CLEAR SAVINGS</ion-title>
        </div>
        <div  >
          <ion-avatar>
            <ion-icon size="large" name="person" />
          </ion-avatar>
        </div>
      </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-searchbar></ion-searchbar>
  </ion-header>
</ion-content>
