<ion-header [translucent]="true">
  <ion-toolbar>
      <div class="header">
        <div class="ion-text-start">
          <ion-title>Game Deals</ion-title>
          <ion-title>CRYSTAL CLEAR SAVINGS</ion-title>
        </div>
        <div  >
          <ion-avatar>
            <ion-icon size="large" name="person" />
          </ion-avatar>
        </div>
      </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-searchbar
      placeholder="Search for game"
      (ionInput)="onSearch($event)"
      debounce="0"
    />


    @if(this.searchedDeals.length > 0){
      <ion-card-title> Searched Game Deals  </ion-card-title>
      <app-game-deal-list [gameDeals]="searchedDeals" />
    } @else {
      <app-game-deal-list
        (onDealDetail)="openDealDetail($event)"
        [gameDeals]="this.top5GameDeals"
        [modeHorizontal]="true"
      />

      <app-game-deal-list
        (onDealDetail)="openDealDetail($event)"
        [gameDeals]="this.gameDeals"
        [modeHorizontal]="false"
      />
    }


</ion-content>
