<ion-card (click)="onDealDetail()" class="glass-card" [ngClass]="{'horizontal' : this.isHorizontal}">
  <ion-card-header>
    <ion-thumbnail>
      <img [src]="gameDeal.thumb">
    </ion-thumbnail>
    <div class="save-percent">save {{ gameDeal.steamRating.percent }}%</div>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-title>{{ gameDeal.title }}</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col size="3">
            <ion-avatar>
              <img [src]="gameDeal.store?.images?.logo" alt="">
            </ion-avatar>
        </ion-col>
        <ion-col [ngClass]="{'favorite': isFavorite}" (click)="onToggleFavorite($event)" size="3">
          <ion-icon size="large" name="heart"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="divider-container">
            <div class="line"></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-start">
        <ion-col size="3">
          <ion-icon name="star"></ion-icon>
          {{gameDeal.dealRating}}
        </ion-col>
        <ion-col size="3">
          <ion-label>${{ gameDeal.salePrice }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
