<ion-card>
  <ion-card-header>
    <ion-thumbnail>
      <img [src]="gameDeal.thumb">
    </ion-thumbnail>
    <div class="save-percent">save {{ gameDeal.steamRating.percent }}%</div>
  </ion-card-header>
  <ion-card-content>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <ion-card-title>{{ gameDeal.title }}</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <ion-avatar>
              <img [src]="gameDeal.store?.images?.logo" alt="">
            </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="divider-container">
            <div class="line"></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between">
        <ion-col size="3">
          <ion-icon name="star"></ion-icon>
          {{gameDeal.dealRating}}
        </ion-col>
        <ion-col size="3">
          <ion-label>${{ gameDeal.salePrice }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
