

ion-card {
  width: 100%;
  padding: 3px;
  border-radius: 20px;
  margin: 10px 0;
  height: 350px;
  min-width: 330px;
  min-height: 350px;
  box-sizing: border-box;
  ion-thumbnail {
    height: 130px;
    width: 100%;
    --border-radius: 20px;
    // padding: 5px;
  }

  .save-percent {
    position: absolute;
    top: 110px;
    right: 20px;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0, 234, 0, 0.4);
    background-color: green;
    font-size: 14px;
    color: white;
    width: 80px;
  }

  ion-item-divider {
    padding: 0;
    --background: transparent;
    --color: red;
    --inner-padding-bottom: 0;
    --inner-padding-top: 0;
    --padding-top: 0;
    --padding-bottom: 0;
  }

  ion-avatar {
    --border-radius: 4px;
    width: 30px;
    height: 30px;
  }

  .divider-container {
    display: flex;
    align-items: center;
    margin: 10px 0; // Espaciado arriba y abajo
    width: 100%;

    .line {
      flex: 1;
      height: 1px;
      background-color: #e0e0e0; // Color gris claro de la línea
    }

  }

  .favorite {
    color: red;
    --background: #ffcccc;
    // border: 2px solid red;
    transform: scale(1.05);
    transition: 0.3s;
  }

  .rating-price {
    padding-bottom: 20px;
  }

}
// .horizontal {
//   width: 100px;
//   margin: 10px 0;
//   height: 250px;
//   min-width: 100px;
//   min-height: 350px;
// }
